<!DOCTYPE html>
<html>
<head>
    <title>Weather Information</title>
</head>
<body>
    <h1>Weather Information</h1>
    <form method="POST">
        <label for="city_name">Enter city name:</label>
        <input type="text" name="city_name"><br><br>
        <label for="latitude">Enter Latitude:</label>
        <input type="text" name="latitude"><br><br>
        <label for="longitude">Enter Longitude:</label>
        <input type="text" name="longitude"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
