.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 1.7857142857rem !important;
  position: fixed !important;
  top: 0 !important;
  background: #0c214d !important;
  width: 100% !important;
  z-index: 1000 !important;
  height: 75px !important;
  box-shadow: -1px 0 4px 0 #ddd !important;
  color: #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
